{% extends 'base.html.twig' %}

{% block title %}Hello CreationSortieController!{% endblock %}

{% block body %}




              <center>  <h1>Créer une sortie</h1></center>



    <form method="post" class="mt-4">
        <div class="row d-flex justify-content-center align-items-center p-5">
            <div class="col-md-6">
                <label for="nom-de-sortie">nom de la sortie </label>
                <input type="text" id="nom-de-sortie" name="nom-de-sortie" class="form-control" required>
                <div class="form-group">
                    <label for="date">Date et heure de la sortie </label>
                    <input type="date" id="prenom" name="date-heure" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="nom">Date limite d'inscription</label>
                    <input type="text" id="date-inscription" name="date-inscription" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="telephone">Nombre de places</label>
                    <input type="number" id="telephone" name="bombre-place" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Durée</label>
                    <input type="number" id="email" name="duree" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="motdepasse">Inscription et infos</label>
                    <textarea id="inscription" name="inscription" class="form-control" required>    </textarea>
                </div>
            </div>




            <div class="col-md-6">


                <div class="form-group">
                    <label for="telephone">Campus </label>
                    <input type="text" id="Campus" name="Campus" class="form-control" required>
                </div>


                <div class="form-group">
                    <label for="date"> Ville </label>
                    <select name="ville" id="ville">
                        <option value="">choisissez une ville </option>
                        <option value="dog">Rennes</option>
                        <option value="cat">Paris</option>
                        <option value="hamster">lskj</option>
                        <option value="parrot"></option>
                        <option value="spider"></option>
                        <option value="goldfish"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nom">Lieu</label>
                    <select name="lieu" id="lieu">
                        <option value="">choisissez une ville </option>
                        <option value="dog">Rennes</option>
                        <option value="cat">Paris</option>
                        <option value="hamster">lskj</option>
                        <option value="parrot"></option>
                        <option value="spider"></option>
                        <option value="goldfish"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telephone">Rue </label>
                    <input type="text" id="Rue" name="Rue" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Code postle</label>
                    <input type="number" id="Codepostle" name="Codepostle" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="motdepasse">Latitude </label>
                    <input type="text" id="inscription" name="inscription" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="motdepasse">Langitude </label>
                    <input type="text" id="inscription" name="inscription" class="form-control" required>
                </div>
            </div>



        <div class=" col-6 ">
        <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
        <button type="submit" class="btn btn-secondary mt-4">Publier la sortie </button>
        <button type="button" class="btn btn-danger mt-4 ">Annuler</button>


    </div>

    </form>



{% endblock %}

